.main {
  text-align: center;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.4);
  padding: 5px;
}

.about {
  text-align: center;
  color: grey;
}

.about h2{
  text-decoration: underline;
  text-decoration-style: wavy;
  color: black
}

.volunteer {

}
.cont {
 width: 100%
}

.work {
  max-width: 60%;

}

.school {
  max-width: 39%;

}

.stuff {

}
